<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Superheroes</title>
</head>
<body>

<!-- Main Body of Page -->


<div class="container">
  <div class="row m-4">
    <div class="col text-center border border-dark">
      <h1>Superhero Sightings</h1>
    </div>
  </div>
  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <a href="/" class="btn btn-outline-primary btn-lg">Home</a>
    </div>
    <div class="col text-center m-3">
      <a href="superheroes" class="btn btn-outline-primary btn-lg">Superheroes</a>
    </div>
    <div class="col text-center m-3">
      <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
    </div>
    <div class="col text-center m-3">
      <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
    </div>
  </div>

  <div class="row m-4 border border-dark">
    <div class="col-12 m-1 text-center"
         th:if="${!errors.isEmpty()}">
      <p class="alert alert-danger" th:each="error : ${errors}"
         th:text="${error.message}">Error message</p>
    </div>
    <div class="col-3 text-center m-3">
      <span class="h3">Add Superhero</span>
    </div>
    <div class="col-7 text-center m-3">


      <form action="addSuperhero" method="POST">

        <div class="form-group row">
          <label for="supeName" class="col-3 col-form-label">
            Superhero Name</label>
          <div class="col-9">
            <input type="text" name="supeName"
                   id="supeName" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="supeDescription" class="col-3 col-form-label">
            Superhero Description</label>
          <div class="col-9">
            <input type="text" name="supeDescription"
                   id="supeDescription" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="Superpower" class="col-3 col-form-label">
            Superpower</label>
          <div class="col-9">
            <input type="text" name="Superpower"
                   id="Superpower" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="hero" class="col-3 col-form-label">
            Hero/Villain</label>
          <div class="col-9">
            <input type='text' name="hero"
                   id="hero" class="form-control"/>
          </div>
        </div>
        <!--<div id="out">
          <input type='checkbox' id="hero" can-value='hero' can-true-value='true' can-false-value='false'/>
          <label for="hero">Hero</label>
        </div>-->

        <button type="submit" class="btn btn-primary">Add Superhero</button>
      </form>
    </div>
  </div>
  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>SupeID</th>
          <th>Superhero Name</th>
          <th>Superhero Description</th>
          <th>Superpower</th>
          <th>Hero/Villain</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="superhero : ${superheroes}">
          <td th:text="${superhero.SupeID}">Superhero ID</td>
          <td th:text="${superhero.SupeName}">Superhero Name</td>
          <td th:text="${superhero.SupeDescription}">Superhero Description</td>
          <td th:text="${superhero.Superpower}">Superpower</td>
          <td th:text="${superhero.hero}">Hero</td>
          <td><a href="#" th:href="@{/editSuperhero(id=${superhero.SupeID})}">Edit</a></td>
          <td><a href="#" th:href="@{/deleteSuperhero(id=${superhero.SupeID})}">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>